

main {
  text-align: center;
  vertical-align: center;
  line-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}
h3 {
    color: #fff;
    font-family: 'Moon Dance', cursive;
    font-weight: 400;
    font-size: 30px;
}
.quote-box {
  width: 40vw;
  min-height: content;
  max-height: (content + 20px);
  border-radius: 20px;
  background-color: white;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  
}
#qt{
    font-family: 'Moon Dance', cursive;
    font-weight: 300;
    font-size: 100px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.text {
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
  padding: 10px;
  color :rgba(255, 97, 97, 0.835);
  font-size: 20px;
  padding-right: 30px ;
  padding-top: 40px
}
.author {
  display: flex;
  color :rgba(255, 97, 97, 0.835);
  font-family: 'Moon Dance', cursive;
  justify-content: flex-end;
  padding: 15px;  
  font-size: 25px;
  padding-right: 30px ;
}
.btns {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  
}
#tweet-quote, #new-quote{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  padding: 15px 20px;
  color:#fff;
  background-color: rgba(255, 97, 97, 0.835);
  border: none;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
#tweet-quote a {
  text-decoration: none;
}

svg {
  color: #fff;
  font-size: 20px;
}

 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
  .quote-box {
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    justify-content: center;    
  }
  .text {
    font-size: 15px;
    padding-right: 15px ;
    line-height: 5vh;
    padding-top: 20px;
    padding: 10px;

  }
  svg {
    font-size: 15px;
  }
  .author {
    justify-content: center;
    padding: 10px;  
    font-size: 20px;
    padding-right: 0px ;
  }
  #qt{
    font-size: 55px;
  }
  #tweet-quote, #new-quote{
    padding: 10px 12px;
    font-size: 10px;
    border-radius: 10px;
    height: 40px;
    margin-top: 19px;
  
  }
  h3 {
    font-size: 25px;
}

}


/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

  
.quote-box {
  width: 80vw;
}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .quote-box {
    width: 70vw;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  .quote-box {
    width: 60vw;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .quote-box {
    width: 40vw;
  }
}