@import url('https://fonts.googleapis.com/css2?family=Moon+Dance:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&family=Quicksand:wght@300;400;500&display=swap');

body {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  background-color: rgba(255, 97, 97, 0.835);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
